# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
qlik-sudoko-puzzle

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt
coverage.html


# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
build/
bin/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log